footer{
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 8.5vh;
}
#navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8.5vh;
    background: rgba(249, 249, 249);
    border-top: solid 2px #ababab;
}
.navButton{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    height: 8.5vh;
        /* margin-top: 0.5vh; */
    /* line-height: 15vh; */
    /* background: rgba(184, 32, 32, 0.94); */
    background: rgba(249, 249, 249);
    text-align: center;
    
}
.navButton svg { 
    display: block;
    margin: 0.1vh auto;
    margin-bottom: 0px;
}
.navButton span{
  font-size: 0.7rem;
  font-family: SDSamliphopangche_Basic;  
}