/* 
    memo.

    app-user-biz-home
    app-user-biz-child

    2개의 페이지에도 동일 스타일 그대로 적용
 */

/* scrollbar option */
body{
    -ms-overflow-style: none; 
}
::-webkit-scrollbar { display: none; }
/* ---------------- */

/* --header Start----- */
 header{
    width: 100%;
    height: 8vh;
    position: relative;
    /* background-color: blue; */
}

.returnButton_cont{
    width: 100%;
    height: 8vh;
    line-height: 8vh;
    position : absolute;
    left : 50%;
    top : 50%;
    transform: translate(-50%);
}
.returnButton_icon{
    width: 3vmax;
    height: 3vmax;
    border: none;
    background-color:#ffffff;
    cursor: pointer;
}
header p{
    top: 50%;
    left: 50%;
    transform : translate(10%,-5%);
    display: inline-block;
    font-size: 17px;
}

/* --header End----- */

/* --main Start--------- */
main{
    margin: 0 auto;
    justify-content: flex-start;
    margin-top: 8vh;
    margin-bottom: 15vh;
}
.textSection{
    display: block;
    width: 100%;
    height: 100%;
    /* overflow-y: scroll; */
}
.textBox{
    margin: 10px auto;
    width: 90%;
    font-size: 14px;
}
