/* 
memo 
    큰틀만 잡음.
    
    디테일한 레이아웃 조정 필요. 21.11.17
    (버튼 border 크기 등)
*/

/* scrollbar option */
body{
    -ms-overflow-style: none; 
}
::-webkit-scrollbar { display: none; }
/* ---------------- */
/* --header Start


user-info-list  전용 헤더부분
(타 페이지랑 중복 스타일 불가)


----- */
header{
    width: 100%;
    height: 8vh;
    position: relative;
    /* background-color: blue; */
}

.returnButton_cont{
    width: 100%;
    height: 8vh;
    line-height: 8vh;
    position : absolute;
    left : 50%;
    top : 50%;
    transform: translate(-50%,-50%);
}
.returnButton_icon{
    width: 3vmax;
    height: 3vmax;
    border: none;
    background-color:#ffffff;
    cursor: pointer;
}
header p{
    top: 50%;
    left: 50%;
    transform : translate(10%,-6%);
    display: inline-block;
    font-size: 17px;
}

/* --header End----- */

.title{
 width: 100%;
 height: 8vh;
 line-height: 8vh;
 text-align: center;
 background-color: red;
}

.title h1{
    margin: 0 auto;
}

#boxContainer{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    /* background-color: rgb(212, 212, 236); */
    /* overflow:hidden; */
    margin-bottom: 15vh;
    
}

.listContainer{
    margin: 2vmax auto;
    width: 80vw;
    height: 60vh;
    /* background-color: rgb(196, 150, 240); */
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 5px;
    
}
.listMenu{
display: flex;
   width: 100%;
   height: 8vh;
   box-sizing: border-box;
   /* background-color: red; */
}
.listMenu .listMenu_button{
    cursor: pointer;
    display: block;
    width: 50%;
    height: 8vh;
    line-height: 8vh;
    box-sizing: border-box;
    border: 1px solid #000000;
    /* background-color: blue; */
    
}
.listContainer .listMenu p{
    display: inline;
}

.list{
    display: block;
    margin-top: 1vh ;
    margin-bottom: 8vh;
    width: 100%;
    height: 50vh;
    border-spacing: 1vh;
    border-collapse: separate;
    /* background-color: red; */
    overflow-y: scroll;
}
.list thead{
    text-transform: uppercase;
}
.list thead td{
    font-weight: bold;
    font-size: 11px;
}
.list thead .th_time{
    width: 20vw;
    /* background-color:blue; */
}
.list thead .th_name{
    width: 20vw;
}
.list thead .th_status{
    width: 20vw;
}
.list thead .th_detail{
    width: 20vw;
}
.list tbody td{
    height: 2.5vh;
    font-size: 11px;
    /* background-color: red; */
}
.list tbody tr{

}
.list tbody .detail{
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

.list button{
    width: 100%;
    height: 100%;
    font-size: 11px;
    border: none;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 10px;
}