

main h1{
    margin:5vh auto;
}
#boxContainer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-bottom: 15vh;
    background-color: blue;
    overflow:hidden;
}

.box{
    cursor: pointer;
    margin: 1vmax auto;
    width: 90vw;
    height: 20vh;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 22px;
    text-align: center;
    font-weight: 500;
    font-size: 4vh;
    line-height: 20vh;
}

.box p{
    width: 80vw;
    margin: 0 auto;
}