body{
    display: flex;
    margin:0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
ul,li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black ;
}

h1{
    color: #1D1617;
    font-weight: bold;
    font-size: 24px;
}
main{
    width: 100%;
    height: 640px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
#signUpForm{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}    
.inputBox{
    margin: 8px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 315px;
    height: 48px;
    line-height: 48px;
    background:  #F7F8F8;
    border: 1px solid #F7F8F8;
    box-sizing: border-box;
    border-radius: 14px;
}
.inputStyle{
    border: none;
    width: 90%;
    height: 90%;
    padding-left: 5px;
    background:  #F7F8F8;
}
.inputStyle::placeholder{
    color: #ADA4A5;
}

.inputBox2{
    margin: 8px 10px;
    padding-left: 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 315px;
    height: 48px;
    line-height: 48px;
    /* background:  #3fe0e0; */
    border: 1px solid #F7F8F8;
    box-sizing: border-box;
    border-radius: 14px;
}
.inputStyle2{
    margin:10px 15px 10px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 14px;
    width: 70%;
    height: 90%;
    padding-left: 5px;
    background:  #F7F8F8;
}

.inputStyle2::placeholder{
    color: #ADA4A5;
}

.buttonStyle_inner{
    width: 25%;
    height: 90%;
    font-size: 12px;
    font-weight: 600;
    background:  #F7F8F8;
    border: none;
    border-radius: 14px;
    box-sizing: border-box;
    color: #000000;
}
.signUpButton{
    margin:10px 10px;
    width: 315px;
    height: 60px;
    border: none;
    background: #F2F2F2;
    border-radius: 99px; 
    font-weight: bold;
    font-size: 16px;
}
.returnButton{
    margin:10px 10px;
    width: 315px;
    height: 60px;
    border: none;
    background: #F2F2F2;
    border-radius: 99px; 
    font-weight: bold;
    font-size: 16px;
}