footer{
    width: 100%;
    height: 60px;
    /* background-color: teal; */
}
#navBar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    /* background-color: yellow; */
    background: rgba(249, 249, 249, 0.94);
    border-top: solid 2px #ababab;
}
.navButton{
    margin-top: 4px;
    display: block;
    width: 100%;
    height: 100%;
    /* background: rgba(184, 32, 32, 0.94); */
    background: rgba(249, 249, 249, 0.94);
    text-align: center;
    
}
.navButton svg { 
    display: block;
    margin: 5px auto;
    margin-bottom: 0px;
}
.navButton span{
  font-size: 10px;
  font-family: SDSamliphopangche_Basic;  
}