/* --header Start----- */
header{
    display: block;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 8vh;
    position: fixed;
    z-index: 99;
    background-color:#ffffff;
}

.returnButton_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    width: 35vw;
    height: 8vh;
    /* background-color: red; */
    background-color: #ffffff;
    border: none;
}
header p{
    margin-left: 4vw;
    display: inline-block;
    font-size: 1rem;
}

/* --header End----- */

/* scrollbar option */
.boxContainer{
    -ms-overflow-style: none; 
}
::-webkit-scrollbar { display: none; }
/* ---------------- */
body{
    margin-top: 4vh;
}
.mainContainer{
    margin-bottom: 8.5vh;
    width: 90vw;
    height: 77vh;
    /* background-color: chartreuse; */
    position: relative;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vh;
    /* background-color: #c4c4c4; */
}
.title h1{
    font-family: 'Noto Sans KR', sans-serif;
    margin:0 auto;
}
.boxContainer{
    display: flex;
    flex-flow: column nowrap;
    text-align: start;
    width: 90%;
    height: 100%;
    /* background-color: rgb(212, 212, 236); */
    overflow-y:scroll;
}
.boxContainer p{
    margin: 1vw;
    font-size: 1rem;
}
.boxContainer input{
    width: 100%;
    height: 6vh;
    padding-left: 1.5vw;
    /* background-color: coral; */
    background-color: #f4f5f5;
    border-radius: 14px;
    border:none;
    outline: none;
}

.boxContainer .buttonStyle{
    margin : 1.5vw;
    height: 6vh;
    background-color: #0d6efd;
    color: white;
    border-radius: 10px;
    border: none;
}

.boxContainer .btn-group{
    width: 98%;
    margin: 0 auto;
}

.selectBox{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 5vh;
}

.selectBox .selectButton{
    cursor: pointer;
    margin : 2vw;
    width: 40vw;
    height: 5.5vh;
    /* background-color: #c4c4c4; */
    border: none;
}


/* --Layer Popup CSS--------*/
/* --app-user-info-manage-tel Start*/
.app-user-info-manage-tel{
    display: none;
    /* display: block; */
    z-index: 1001;
    position: absolute;
    top: 15%;
    width: 70vw;
    height: 60vh;
    background-color:#ffffff;
    border: 1px solid #000000;
    padding :20px;
}
.app-user-info-manage-tel .popup_title{
    display: flex;
    text-align: center;
    height: 60px;
    line-height: 60px;
    /* background-color: royalblue; */
}
.app-user-info-manage-tel .popup_title h1{
    margin: auto;
    font-size: 24px;
}
.app-user-info-manage-tel .popup_selectListContianer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vh;
    /* background-color: black; */
}
.app-user-info-manage-tel .popup_selectListContianer .inputBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 20vh;
    border: none;
    box-sizing: border-box;
    border-radius: 14px;
}
.app-user-info-manage-tel .popup_selectListContianer .inputStyle{
    width: 50vw;
    height: 8vh;
    border: none;
    border-radius: 14px;
    padding-left: 5px;
    font-size: 0.35rem;
    background:  #F7F8F8;
}
.app-user-info-manage-tel .popup_selectListContianer .inputStyle::placeholder{
    color: #ADA4A5;
}
.app-user-info-manage-tel .popup_selectListContianer .telBox_button{
    margin-left: 3.5vw;
    width: 20vw;
    height: 8vh;
    font-size: 0.35rem;
    font-weight: 600;
    background:  #F7F8F8; 
    border: none;
    border-radius: 14px;
    box-sizing: border-box;
    
}

.app-user-info-manage-tel .selectBox{
    display: flex;
    justify-content: space-between;
    /* background-color: saddlebrown; */
}

.selectBox .btn {
    width: 45%;
    font-family: 'SDSamliphopangche_Basic';
}

/* --app-user-info-manage-tel End*/

/* --Layer popup app-user-info-manage-addr Start*/
.app-user-info-manage-addr{
    display: none;
    /* display: block; */
    z-index: 1001;
    position: absolute;
    top: 15%;
    width: 70vw;
    height: 70vh;
    background-color:#ffffff;
    border: 1px solid #000000;
    padding :20px;
}
.popup_title{
    display: flex;
    text-align: center;
    height: 60px;
    line-height: 60px;
    /* background-color: royalblue; */
}
.popup_title h1{
    margin: auto;
    font-size: 24px;
}
.app-user-info-manage-addr .popup_selectListContianer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    width: 100%;
    height: 110px;
    /* background-color: black; */
}
.app-user-info-manage-addr .popup_selectListContianer .inputBox{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 44px;
    padding:1px;
    /* background:  #3fe0e0; */
    border: none;
    box-sizing: border-box;
    border-radius: 14px;
}
.app-user-info-manage-addr .popup_selectListContianer .inputStyle{
    width: 100%;
    height: 44px;
    border: none;
    border-radius: 14px;
    padding-left: 5px;
    font-size: 0.35rem;
    background:  #F7F8F8;
}
.app-user-info-manage-addr .popup_selectListContianer .inputStyle::placeholder{
    color: #ADA4A5;
}
.app-user-info-manage-addr .popup_selectListContianer .addrBox_button{
    margin-left: 15px;
    width: 90px;
    height: 44px;
    font-size: 0.35rem;
    font-weight: 600;
    background:  #F7F8F8;
    border: none;
    border-radius: 14px;
    box-sizing: border-box;
    color: #000000;
}

.app-user-info-manage-addr .selectBox{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    /* background-color: saddlebrown; */
}

.selectBox .btn {
    width: 45%;
    font-family: 'SDSamliphopangche_Basic';
}

/* --Layer popup app-user-info-manage-addr End*/

/* Layer popup app-user-info-manage-logout Start */
.app-user-info-manage-logout{
    display: none;
    /* display: flex; */
    flex-flow: column nowrap;
    justify-content: space-around;
    
    z-index: 1001;
    position: absolute;
    top: 20%;
    width: 80vw;
    height: 50vh;
    background-color:#ffffff;
    border: 1px solid #000000;
    padding :20px;
    text-align: center;
}
.app-user-info-manage-logout h2{
    font-size: 1.3rem;
    font-weight: bolder;
}
/* Layer popup app-user-info-manage-logout End */

/* Layer popup app-user-info-manage-out Start */
.app-user-info-manage-out{
    display: none;
    /* display: flex; */
    flex-flow: column nowrap;
    justify-content: space-around;
    
    z-index: 1001;
    position: absolute;
    top: 20%;
    width: 80vw;
    height: 50vh;
    background-color:#ffffff;
    border: 1px solid #000000;
    padding :20px;
    text-align: center;
}

.app-user-info-manage-out h2{
    font-size: 1.3rem;
    font-weight: bolder;
}
.app-user-info-manage-out .popup_selectListContianer{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}
.app-user-info-manage-out .popup_selectListContianer .btn{
    width: 45%;
}
/* Layer popup app-user-info-manage-out End */