/* --header Start

----- */
header{
    width: 100%;
    height: 8vh;
    position: relative;
    /* background-color: blue;   */
}

.returnButton_cont{
    width: 100%;
    height: 8vh;
    line-height: 8vh;
    position : absolute;
    left : 50%;
    top : 50%;
    transform: translate(-50%,-50%);
}
.returnButton_icon{
    width: 3vmax;
    height: 3vmax;
    border: none;
    background-color:#ffffff;
    cursor: pointer;
}
header p{
    top: 50%;
    left: 50%;
    transform : translate(10%,5%);
    display: inline-block;
    font-size: 17px;
}

/* --header End----- */

/* scrollbar option */
.boxContainer{
    -ms-overflow-style: none; 
}
::-webkit-scrollbar { display: none; }
/* ---------------- */

.mainContainer{
    width: 90%;
    height: 77vh;
    margin-bottom: 15vh;
    /* background-color: chartreuse; */
    position: relative;
}
.title{
    width: 100%;
    height: 8vh;
    line-height: 8vh;
    /* background-color: #c4c4c4; */
}
.title h1{
    background-color: red;
}
.boxContainer{
    margin: 0 auto;
    margin-bottom: 15vh;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    padding : 1vmax;
    background-color: rgb(212, 212, 236);
    overflow-y:scroll;
}
.boxContainer p{
    margin: 2px;
    font-size: 12px;
}
.boxContainer input{
    height: 4vh;
    margin-top: 0.4vh;
    padding-left: 10px;
    /* background-color: coral; */
    background-color: #f4f5f5;
    border-radius: 14px;
    border:none;
}
.selectBox{
    margin:5vmin auto;
}

.selectBox .selectButton{
    cursor: pointer;
    margin : 0px 2vw;
    width: 35vw;
    height: 5vh;
    background-color: #c4c4c4;
    border: none;
}


/* --Layer Popup CSS--------*/
/* --app-user-info-detail-change Start*/
.app-user-info-detail-change{
    z-index: 99;
    display: none;
    /* display: block; */

    position: absolute;
    top: 15%;
    width: 300px;
    height: 60%;
    background-color:#ffffff;
    border: 1px solid #000000;
    padding :20px;
}

.popup_title{
    display: flex;
    text-align: center;
    height: 60px;
    line-height: 60px;
    /* background-color: royalblue; */
}
.popup_title h1{
    margin: auto;
    font-size: 24px;
}

.app-user-info-detail-change{

}

.app-user-info-detail-change .selectBox{
    display: flex;
    justify-content: space-between;
    /* background-color: saddlebrown; */
}

.selectBox .btn {
    width: 45%;
    font-family: 'SDSamliphopangche_Basic';
}

/* --app-user-info-detail-change End*/

/* --app-user-info-detail-cancel Start*/
.app-user-info-detail-cancel{
    z-index: 99;
    display: none;
    /* display: block; */
    position: absolute;
    top: 15%;
    width: 300px;
    height: 60%;
    background-color:#ffffff;
    border: 1px solid #000000;
    padding :20px;
    text-align: center;
}

.popup_title{
    display: flex;
    text-align: center;
    height: 60px;
    line-height: 60px;
    /* background-color: royalblue; */
}
.popup_title h1{
    margin: auto;
    font-size: 24px;
}

.app-user-info-detail-cancel .dropdown .btn{
    width: 100%;
}

.app-user-info-detail-cancel .selectBox{
    display: flex;
    justify-content: space-between;
    /* background-color: saddlebrown; */
}

.selectBox .btn {
    width: 45%;
    font-family: 'SDSamliphopangche_Basic';
}

/* --app-user-info-detail-cancel End*/