/* 
    memo.

    app-user-biz-home
    app-user-biz-child

    2개의 페이지에도 동일 스타일 그대로 적용
 */

/* scrollbar option */
body{
    -ms-overflow-style: none; 
}
::-webkit-scrollbar { display: none; }
/* ---------------- */

/* --header Start----- */
header{
    position: relative;
}

.returnButton_cont{
    width: 100px;
    height: 26px;
    line-height: 26px;
    /* background-color: teal ; */
    position : absolute;
    left : 50%;
    top : 50%;
    transform : translate(-170%, -50%);
}

.returnButton_icon{
    width: 30px;
    height: 26px;
    border: none;
    background-color:#ffffff;
    cursor: pointer;
}
header p{
    top: 50%;
    left: 50%;
     transform : translate(5%, -15%);
    display: inline-block;
    font-size: 17px;
}
/* --header End----- */

/* --main Start--------- */
main{
    margin: 0 auto;
    /* background-color: rgb(235, 164, 164); */
    justify-content: flex-start;
}
.textSection{
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.textBox{
    margin: 10px auto;
    width: 90%;
    font-size: 14px;
}
