/* --header Start----- */
header{
    position: relative;
}

.returnButton_cont{
    width: 100px;
    height: 26px;
    line-height: 26px;
    /* background-color: teal ; */
    position : absolute;
    left : 50%;
    top : 50%;
    transform : translate(-170%, -50%);
}

.returnButton_icon{
    width: 30px;
    height: 26px;
    border: none;
    background-color:#ffffff;
    cursor: pointer;
}
header p{
    top: 50%;
    left: 50%;
     transform : translate(5%, 10%);
    display: inline-block;
    font-size: 17px;
}
/* --header End----- */

/* scrollbar option */
.boxContainer{
    -ms-overflow-style: none; 
}
::-webkit-scrollbar { display: none; }
/* ---------------- */

.mainContainer{
    width: 90%;
    height: 100%;
    /* background-color: chartreuse; */
    position: relative;
}
.title{
    width: 100%;
    height: 40px;
    /* background-color: #c4c4c4; */
}
.title h1{
    display: inline;
    line-height: 40px;
    margin:0 auto;
}
.boxContainer{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    margin-top: 15px;
    /* background-color: rgb(212, 212, 236); */
    overflow-y:scroll;
}
.boxContainer p{
    margin: 2px;
    font-size: 12px;
}
.boxContainer input{
    height: 33px;
    padding-left: 10px;
    /* background-color: coral; */
    background-color: #f4f5f5;
    border-radius: 14px;
    border:none;
}

.boxContainer .buttonStyle{
    margin : 10px 0px;
    height: 33px;
    background-color: #c4c4c4;
    border-radius: 10px;
    border: none;
}

.boxContainer .btn-group{
    width: 98%;
    margin: 0 auto;
}

.selectBox{
    margin:70px auto;
}

.selectBox .selectButton{
    cursor: pointer;
    margin : 0px 5px;
    width: 130px;
    height: 33px;
    background-color: #c4c4c4;
    border: none;
}


/* --Layer Popup CSS--------*/
/* --app-user-info-manage-tel Start*/
.app-user-info-manage-tel{
    display: none;
    /* display: block; */
    
    z-index: 99;
    position: absolute;
    top: 15%;
    width: 300px;
    height: 60%;
    background-color:#ffffff;
    border: 1px solid #000000;
    padding :20px;
}
.app-user-info-manage-tel .popup_title{
    display: flex;
    text-align: center;
    height: 60px;
    line-height: 60px;
    /* background-color: royalblue; */
}
.app-user-info-manage-tel .popup_title h1{
    margin: auto;
    font-size: 24px;
}
.app-user-info-manage-tel .popup_selectListContianer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    width: 100%;
    height: 110px;
    /* background-color: black; */
}
.app-user-info-manage-tel .popup_selectListContianer .inputBox{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 44px;
    border: none;
    box-sizing: border-box;
    border-radius: 14px;
}
.app-user-info-manage-tel .popup_selectListContianer .inputStyle{
    width: 100%;
    height: 44px;
    border: none;
    border-radius: 14px;
    padding-left: 5px;
    font-size: 12px;
    background:  #F7F8F8;
}
.app-user-info-manage-tel .popup_selectListContianer .inputStyle::placeholder{
    color: #ADA4A5;
}
.app-user-info-manage-tel .popup_selectListContianer .telBox_button{
    margin-left: 15px;
    width: 100px;
    height: 44px;
    font-size: 12px;
    font-weight: 600;
    background:  #F7F8F8; 
    border: none;
    border-radius: 14px;
    box-sizing: border-box;
    color: #000000;
}

.app-user-info-manage-tel .selectBox{
    display: flex;
    justify-content: space-between;
    /* background-color: saddlebrown; */
}

.selectBox .btn {
    width: 45%;
    font-family: 'SDSamliphopangche_Basic';
}

/* --app-user-info-manage-tel End*/

/* --Layer popup app-user-info-manage-addr Start*/
.app-user-info-manage-addr{
    display: none;
    /* display: block; */
    
    z-index: 99;
    position: absolute;
    top: 15%;
    width: 300px;
    height: 60%;
    background-color:#ffffff;
    border: 1px solid #000000;
    padding :20px;
}
.popup_title{
    display: flex;
    text-align: center;
    height: 60px;
    line-height: 60px;
    /* background-color: royalblue; */
}
.popup_title h1{
    margin: auto;
    font-size: 24px;
}
.app-user-info-manage-addr .popup_selectListContianer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    width: 100%;
    height: 110px;
    /* background-color: black; */
}
.app-user-info-manage-addr .popup_selectListContianer .inputBox{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 44px;
    padding:1px;
    /* background:  #3fe0e0; */
    border: none;
    box-sizing: border-box;
    border-radius: 14px;
}
.app-user-info-manage-addr .popup_selectListContianer .inputStyle{
    width: 100%;
    height: 44px;
    border: none;
    border-radius: 14px;
    padding-left: 5px;
    font-size: 12px;
    background:  #F7F8F8;
}
.app-user-info-manage-addr .popup_selectListContianer .inputStyle::placeholder{
    color: #ADA4A5;
}
.app-user-info-manage-addr .popup_selectListContianer .addrBox_button{
    margin-left: 15px;
    width: 90px;
    height: 44px;
    font-size: 12px;
    font-weight: 600;
    background:  #F7F8F8;
    border: none;
    border-radius: 14px;
    box-sizing: border-box;
    color: #000000;
}

.app-user-info-manage-addr .selectBox{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    /* background-color: saddlebrown; */
}

.selectBox .btn {
    width: 45%;
    font-family: 'SDSamliphopangche_Basic';
}

/* --Layer popup app-user-info-manage-addr End*/

/* Layer popup app-user-info-manage-logout Start */
.app-user-info-manage-logout{
    display: none;
    /* display: flex; */
    flex-flow: column nowrap;
    justify-content: space-around;
    
    z-index: 99;
    position: absolute;
    top: 20%;
    width: 300px;
    height: 40%;
    background-color:#ffffff;
    border: 1px solid #000000;
    padding :20px;
    text-align: center;
}
.app-user-info-manage-logout h2{
    font-size: 25px;
    font-weight: bolder;
}
/* Layer popup app-user-info-manage-logout End */

/* Layer popup app-user-info-manage-out Start */
.app-user-info-manage-out{
    display: none;
    /* display: flex; */
    flex-flow: column nowrap;
    justify-content: space-around;
    
    z-index: 99;
    position: absolute;
    top: 20%;
    width: 300px;
    height: 40%;
    background-color:#ffffff;
    border: 1px solid #000000;
    padding :20px;
    text-align: center;
}

.app-user-info-manage-out h2{
    font-size: 20px;
    font-weight: bolder;
}
.app-user-info-manage-out .popup_selectListContianer{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}
.app-user-info-manage-out .popup_selectListContianer .btn{
    width: 45%;
}
/* Layer popup app-user-info-manage-out End */