/* 
    memo 
    .box 박스내 높이는 line-height로 조정

*/

main h1{
    margin:30px auto;
}
#boxContainer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    height: 450px;
    /* background-color: blue; */
    overflow:hidden;
}

.box{
    cursor: pointer;
    margin: 10px 20px;
    width:90%;
    height: 100%;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 22px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 120px;
}

.box p{
    width: 80%;
    margin: 0 auto;
}