/* 
    memo.

    app-user-biz-home
    app-user-biz-child

    2개의 페이지에도 동일 스타일 그대로 적용
 */

/* scrollbar option */
body{
    -ms-overflow-style: none; 
}
::-webkit-scrollbar { display: none; }
/* ---------------- */

/* --header Start----- */
header{
    display: block;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 8vh;
    position: fixed;
    z-index: 99;
    background-color:#ffffff;
}

.returnButton_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    width: 35vw;
    height: 8vh;
    /* background-color: red; */
    background-color: #ffffff;
    border: none;
}
header p{
    margin-left: 4vw;
    display: inline-block;
    font-size: 1rem;
}

/* --header End----- */

/* --main Start--------- */
main{
    margin: 0 auto;
    justify-content: flex-start;
    margin-top: 8vh;
    margin-bottom: 15vh;
}
.textSection{
    display: block;
    width: 100%;
    margin-bottom: 8vh;
    overflow-y: scroll;
}
.textBox{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column nowrap;
    margin: 5vw auto;
    width: 90%;
    font-size: 14px;
    margin-bottom: 8vh;
    /* overflow-y: scroll; */
}
.textBox img{
    width:80vw;
    height: 20vh;
}
.textBox span{
    display: inline;
}