@font-face {
    font-family: 'SDSamliphopangche_Basic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

ul,li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black ;
}
main{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#e5e5e5;
}
.title{
    margin: 6vh 2vw 1vh;
    font-weight: 500;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

.title_1{
    font-family: 'SDSamliphopangche_Basic';
    color: #3170BB;
}
.title_2{
    font-family: 'SDSamliphopangche_Outline';
    color: #68BB76;
}
.title_3{
    font-family: 'SDSamliphopangche_Outline';
    color: #de8344;
}
.titleText{
    margin:10px 20px;
    font-weight: bold;
    font-size: 1.4em;
    color: #1D1617;
}
.loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    /* background-color: red; */
}
.input_box{
    margin:10px 20px;
    background-color: #F7F8F8;
    width: 40vmax;
    height: 48px;
    line-height: 48px;
    box-sizing: border-box;
    border-radius: 14px;
    text-align: start;
    padding-left: 20px;
    position: relative;
}

.icon{
    width: 6vw;
    height: 3vh;
    position:absolute;
    /* background: blue; */
}

.id_box{
    margin-top: 40px;
}
.pw_box{
    margin-top: 15px;
}
.input{
    top: 50%;
    left: 50%;
    transform: translate(-45%,-50%);
    position:absolute;
    margin-left: 5px;
    width: 77%; 
    height: 65%;
    border: none;
    background-color: #F7F8F8;
}
.input:focus{
    top: 50%;
    left: 50%;
    transform: translate(-45%,-50%);
    position:absolute;
    margin-left: 5px;
    width: 77%; 
    height: 65%;
    border: none;
    background-color: #F7F8F8;
    outline: none;
}

.button{
    margin: 10px 20px;
    border: none;
    width: 40vmax;
    height: 60px;
    line-height: 60px;
    border-radius: 99px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}
.button:hover{
    cursor: pointer;
}

.loginButton{
    margin-top: 30px;
    background-color: #F2994A;
    position: relative;
}

.loginButton label{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-270%,-45%);
}
.loginButton span{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%,-50%);
}

.loginButton_kakao{
    background-color: #F2C94C;
}
.signUpButton{
    margin-bottom: 30px;
    color: #000000;
}

@media screen and (min-width:720px) {
    .title{
        margin: 10px 20px;
        font-weight: 500;
        font-size: 3.5em;
        letter-spacing: 1px;
    }
}