

main h1{
    margin:5vh auto;
    margin-top: 15vw;
    font-family: 'Noto Sans KR', sans-serif;
}
#boxContainer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-bottom: 15vh;
    /* background-color: blue; */
    overflow:hidden;
}

.box{
    position: relative;
    cursor: pointer;
    margin: 1vmax auto;
    width: 90vw;
    height: 20vh;
    border: 1px solid #bcbcbc;
    box-sizing: border-box;
    border-radius: 22px;
    text-align: center;
    font-weight: 500;
    font-size: 4vh;
    /* line-height: 20vh; */
}

.childCare{
    width: 100%;
    height: 100%;
    border-radius: 22px;
    background:url('../image/child_care.png') no-repeat;
    background-size:cover;
    background-position:center;
}

.box .childCare p{
    position:absolute;
    width: 100%;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0 auto;
    background-color:rgba(0, 0, 0, 0.33);
    color: #ffffff;
    /* background-color: rgba(0,0,0,0.05); */
}