/* scrollbar option */
body{
    -ms-overflow-style: none; 
}
::-webkit-scrollbar { display: none; }
/* ---------------- */

html{
    height: initial;
    /* background-color: red; */
}

body{
    display: flex;
    margin:0;
    padding: 0;
    /* height: 100%; */
    justify-content: center;
    align-items: center;
}

main{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    margin-bottom: 8.5vh;
}
.title_area{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 8rem;
    background :url('../image/mcc_mainbackground_3.png') no-repeat 0 0;
    background-size: 100% 100%;
    /* background-color: red; */
    color:#ffffff;
    box-sizing: border-box;
}
.title_area h1,h3{
    margin-left: 1rem;
    font-family: 'GyeonggiTitle-M';
    font-weight: 500;
}    
.title_area h3{
    margin-top: 1.5rem;
    font-size: 0.8rem;
}
.title_area h1{
    font-size: 2.4rem;
}  

/* --header Start----- */
header{
    display: block;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 8vh;
    position: fixed;
    z-index: 99;
    background-color:#ffffff;
}

.returnButton_cont{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    width: 35vw;
    height: 8vh;
    background-color: #ffffff;
    /* background-color: red; */
    border: none;
}
.returnButton_icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
header p{
    margin-left: 4vw;
    display: inline-block;
    font-size: 1rem;
}

/* --header End----- */




/* scrollbar option */
.boxContainer{
    -ms-overflow-style: none; 
}
::-webkit-scrollbar { display: none; }
/* ---------------- */
main{
    margin-top: 8vh;
    margin-bottom: 8.5vh;
}
.mainContainer{
    width: 90vw;
    height: 78vh;

    /* background-color: chartreuse; */
    position: relative;
}
.title{
    display: block;
    width: 100%;
    height: 7vh;
    /* background-color: red; */
}
.title h1{
    margin: 0 auto;
    font-family: 'GyeonggiTitle-M';
    /* background-color: red; */
}
.boxContainer{
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    padding : 1vw;
    /* background-color: green; */
    overflow-y:scroll;
}
.boxContainer p{
    margin: 0.5vh;
    font-size: 0.8rem;
}
.boxContainer input{
    height: 6vw;
    margin-top: 0.4vh;
    padding-left: 5vw;
    /* background-color: coral; */
    background-color: #f4f5f5;
    border-radius: 14px;
    border:none;
    font-size: 0.7rem;
}
.selectBox{
    margin-top: 5vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
    /* background-color: red; */
}

.selectBox .change{
    cursor: pointer;
    margin : 1vw auto;
    width: 35vw;
    height: 5.5vh;
    /* background-color: #c4c4c4; */
    background-color: #F4900a;
    border: none;
}

.selectBox .cancel{
    cursor: pointer;
    margin : 1vw auto;
    width: 35vw;
    height: 5.5vh;
    /* background-color: #c4c4c4; */
    border: none;
    color: #000;
    border: 1px solid #c3c3c3
}

.selectBox .btn-light{
    color: #000;
    border: 1px solid rgb(206, 212, 218)
}

/* --Layer Popup CSS--------*/
form{
    display: contents;
}
/* --app-user-info-detail-change Start*/
.app-user-info-detail-change{
    display: none;
    /* display: flex; */
    z-index: 1001;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    /* height: 100%; */
    /* margin-bottom: 8.5vh; */
    background-color: rgba(0,0,0, 0.5); 
}
.app-user-info-detail-change .layer_popup_cont{
    width: 80vw;
    height: 33rem;
    background-color:#ffffff;
    border: 1px solid #000000;
    padding :20px;
}

.popup_title{
    margin: 0.5rem;
    display: flex;
    text-align: center;
    height: 60px;
    line-height: 60px;
    /* background-color: royalblue; */
}
.popup_title h1{
    margin: auto;
    font-size: 24px;
}



.app-user-info-detail-change .selectBox{
    display: flex;
    justify-content: space-between;
    /* background-color: saddlebrown; */
    
}

.app-user-info-detail-change .list-group{
    width: 100%;
    z-index: -1;
    /* background-color: red; */
}

.app-user-info-detail-change .list-group .calendar_container{
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    flex-flow: column;
    width: 100%;
    /* background-color: red; */
}

.app-user-info-detail-change .list-group .calendar_container .date_wrapper{
    margin: 0.5rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}
.app-user-info-detail-change .list-group .calendar_container .date_wrapper .guide_text{
    width: 3.5rem;
    text-align: center;
}
.app-user-info-detail-change .list-group .calendar_container .date_wrapper .etc{
    margin-left: -0.5rem;
}
.app-user-info-detail-change .list-group .calendar_container .date_wrapper .input{
    /* background-color: red; */
    width: 11rem;
}
.app-user-info-detail-change .list-group .calendar_container .date_wrapper .care_calendar{
    /* width: 70%; */
}
.app-user-info-detail-change .list-group .calendar_container .date_wrapper .datepicker{
    width: 95%;
    text-align: center;
}

.app-user-info-detail-change .list-group .calendar_container .date_wrapper p{
    margin: 0 auto;
    margin-right: 0.5rem;
}
.app-user-info-detail-change .list-group .calendar_container .date_wrapper .txt{
    display: inline;
}
.app-user-info-detail-change .list-group .last_box{
    margin-top: 1rem;
}


.app-user-info-detail-change .list-group .timepicker{
    text-align: center;
    width: 21vw;
}
.app-user-info-detail-change .list-group .time_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    position: relative;
    margin-top: 1rem;
}
.ui-timepicker-container{
    z-index: 999999 !important; 
    background-color: red;
}


/* --app-user-info-detail-change End*/
/* --app-user-info-detail-cancel Start*/

.app-user-info-detail-cancel{
    display: none;
    /* display: flex; */
    z-index: 1001;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* margin-bottom: 8.5vh; */
    background-color: rgba(0,0,0, 0.5); 
}
.app-user-info-detail-cancel .layer_popup_cont{
    width: 80vw;
    height: 55vh;
    background-color:#ffffff;
    border: 1px solid #000000;
    padding :20px;
}


.app-user-info-detail-cancel .layer_popup_cont .popup_title{
    margin: 0.5rem;
    display: flex;
    text-align: center;
    height: 60px;
    line-height: 60px;
    /* background-color: royalblue; */
}
.app-user-info-detail-cancel .layer_popup_cont .popup_title h1{
    margin: auto;
    font-size: 24px;
}

.form-select{
    margin:2rem auto;
    margin-bottom: 0.2rem;
    width: 65vw;
    height: 2.5rem;
    font-size: 0.8rem;
}
.form-select option{
    font-size: 0.6rem;
}

.app-user-info-detail-cancel .selectBox{
    margin: 2rem auto;
    display: flex;
    width: 65vw;
    justify-content: space-between;
    /* background-color: yellow; */
}


.app-user-info-detail-cancel .input_box_etc{
    display: none;
    margin: 2rem auto;
    margin-top: 0;
    /* background-color: red; */
    width: 65vw;
    /* height: 2.5rem; */
}

.app-user-info-detail-cancel .input_box_etc input{
    width: 100%;
    margin-top: 0.25rem;
    width: 65vw;
    height: 2.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding-left: 0.5rem;
    font-size: 0.8rem;
}

.selectBox .btn{
    margin: 0.2rem;
    width: 45%;
    height: 2.5rem;
    font-family: 'GyeonggiTitle-M';
}

/* --app-user-info-detail-cancel End*/