/* 
    memo 
    .box 박스내 높이는 line-height로 조정

*/
html{
    height: initial;
    /* background-color: red; */
}
body{
    display: flex;
    margin:0;
    padding: 0;
    /* height: 100%; */
    justify-content: center;
    align-items: center;
}
main{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    margin-bottom: 8.5vh;
}
.title_area{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 8rem;
    background :url('../image/mcc_mainbackground_3.png') no-repeat 0 0;
    background-size: 100% 100%;
    /* background-color: red; */
    color:#ffffff;
    box-sizing: border-box;
}
.title_area h1,h3{
    margin-left: 1rem;
    font-family: 'GyeonggiTitle-M';
    font-weight: 500;
}    
.title_area h3{
    margin-top: 1.5rem;
    font-size: 0.8rem;
}
.title_area h1{
    font-size: 2.4rem;
}
.title{
    margin: 0.5rem;
    margin-top: 2rem;
    /* line-height: 10vh; */
}
.title h1{
    margin: 0 auto;
    text-align: center;
    font-family: 'GyeonggiTitle-L';
}
.menu_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 8.5vh;
}
.boxRow{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: 0.5rem;
    padding: 0 auto;
}
.boxRow:nth-child(2){
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    margin-top: 0.5rem;
    padding: 0 auto;
}       
.box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
    cursor: pointer;
    margin:0.5rem;
    width: 44vmin;
    height:44vmin;
    /* border: 1px solid #f4900a; */
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    /* font-family: SDSamliphopangche_Basic; */
    font-weight: 500;
    /* font-size: 1rem; */
}
.box .sub_title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin: 0 auto;
    width: 100%;
    height: 60%;
    background-color: #f4900a;
    color: #ffffff;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}
.box .sub_title p{
    margin: 0 auto;
    font-size: 1.6rem;
    font-family: 'GyeonggiTitle-B';
}
.box .sub_title .letter_space{
    letter-spacing: -3px;
}
.box .m_menu_icon{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #ffc000;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}

.box svg{
    /* color: #ffffff; */
    width: 15vmin;
    height: 15vmin;
}
.box svg path{
    /* fill: #ffffff; */
}
