/* 
memo 

1) app-user-ask 연관 css스타일 : 
faq,polices,version에 대한 스타일을 이 css파일에서 공유함.
    
*/


/* scrollbar option */
body{
    -ms-overflow-style: none; 
}
::-webkit-scrollbar { display: none; } */
/*scrollbar option End*/

html{
    height: initial;
    /* background-color: red; */
}

body{
    display: flex;
    margin:0;
    padding: 0;
    /* height: 100%; */
    justify-content: center;
    align-items: center;
}

main{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    margin-bottom: 8.5vh;
}

/* header background Start*/
.title_area{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 8rem;
    background :url('../image/mcc_mainbackground_3.png') no-repeat 0 0;
    background-size: 100% 100%;
    /* background-color: red; */
    color:#ffffff;
    box-sizing: border-box;
}
.title_area h1,h3{
    margin-left: 1rem;
    font-family: 'GyeonggiTitle-M';
    font-weight: 500;
}    
.title_area h3{
    margin-top: 1.5rem;
    font-size: 0.8rem;
}
.title_area h1{
    font-size: 2.4rem;
}  

/* --(sticky-option)header Start----- */
header{
    display: block;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 8vh;
    z-index: 99;
    background-color:#ffffff;
    position: sticky;
}

.returnButton_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    width: 35vw;
    height: 8vh;
    background-color: #ffffff;
    /* color: #ffffff; */
    /* background-color: red; */
    border: none;
}
.returnButton_icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.returnButton_icon svg{
    fill: #ffffff;
    color: #ffffff;
}
header p{
    margin-left: 4vw;
    display: inline-block;
    font-size: 1rem;
}

/* --header End----- */
.mainContainer{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    margin-bottom: 8.5vh;
}
.title{
    width: 100%;
    /* background-color: #c4c4c4; */
}
main h1{
    margin:0 auto;
    font-family: 'GyeonggiTitle-M';
    text-align: center;
}
.boxContainer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    /* margin-top: 15vh; */
    overflow:hidden;
}

.box{
    cursor: pointer;
    margin: 0.5rem 1.5rem auto;
    width :80vw;
    height: 5rem;
    line-height: 5rem;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 22px;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
}
.box p{
    margin: 0 auto;
}
.box:nth-child(1){
    margin-top: 1.5rem;
}

/* CSS : app-user-ask-faq  Start*/
#boxContainer_faq{
    display: flex;
    flex-flow: column nowrap;
    justify-content:space-between;
    align-items: center;
    width: 90%;
    /* background-color: blue; */
    margin-top: 3vh;
    margin-bottom: 15vh;
    overflow:hidden;
}

.searchBox_faq{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    height: 8vh;
    background: rgba(118, 118, 128, 0.12);
    border-radius: 10px;
}
.search_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: 8vh;
    /* margin: 0 auto; */
    /* background-color: red; */
}
.search{
    padding-left: 0.5vw;
    width: 67vw;
    height: 6.9vh;
    border: none;
    outline: none;
}
.textBox_faq{
    width: 100%;
    height: 360px;
    /* background-color: red; */
}
/* CSS : app-user-ask-faq  End*/
/* CSS : app-user-ask-polices  Start*/
#boxContainer_polices{
    /* background-color: red; */
    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    overflow:hidden;
    margin-top: 8vh;
    margin-bottom: 8.5vh;
}

#boxContainer_polices .subContainer{
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
}
.subContainer .sub_title{
    width: 85vw;
    justify-content: start;
}
.subContainer .textTitle{
    display: inline-block;
    margin-top: 1.5vh;
    margin-bottom: 0.5vh;
    margin-left: 0.3vw;
    font-size: 1em;
    font-weight: bold;
    /* background-color: pink; */
}

#boxContainer_polices textarea{
    width: 85vw;
    height: 17vh;
    box-sizing: border-box;
    border-radius: 0.2rem;
    border-color: #ababab;
    padding:0.5rem;
    font-size: 0.8rem;
    text-align: left;
    outline: none;
    overflow-y: scroll;
    font-family: 'Noto Sans KR', sans-serif;
    /* -ms-overflow-style: initial !important;  */
}



/* CSS : app-user-ask-polices  End*/
/* CSS : app-user-ask-version  Start*/
.boxContainer_version{
    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 70vh;
    /* background-color: khaki;  */
}

.boxContainer_version p{

}

/* CSS : app-user-ask-version  End*/

/* CSS : app-user-ask-kakao Start */
#kakao{
    width: 100%;
    height: 70rem;
    margin-bottom: 8.5vh;
    overflow-x:hidden; 
    overflow-y:hidden;
}
/* CSS : app-user-ask-kakao End */