@font-face {
    font-family: 'SDSamliphopangche_Basic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html{
    height: initial;
    /* background-color: red; */
}

body{
    display: flex;
    margin:0;
    padding: 0;
    /* height: 100%; */
    justify-content: center;
    align-items: center;
}
ul,li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black ;
}

main{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    margin-bottom: 8.5vh;
}
.title_area{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 12rem;
    background :url('../image/mcc_mainbackground.png') no-repeat 0 0;
    background-size: 100% 100%;
    /* background-color: red; */
    color:#ffffff;
    box-sizing: border-box;
}
.title_area h1,h3{
    margin-left: 1rem;
    font-family: 'GyeonggiTitle-M';
    font-weight: 500;
}    
.title_area h3{
    margin-top: 3rem;
}
.title_area h1{
    font-size: 2.2rem;
}  


.header_backgorund{
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: -1;
    /* background-color: red; */
    /* overflow: hidden; */
    /* background: url('image/main_back.png') no-repeat; */
}
/* 
.header_backgorund img{
    transform: translate(260%, -90%);
    width: 100px;
    height: 100px;
} */

.menu_container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 65vh;
    /* background-color: red; */
}
.menu_container .sub_title{
    margin: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    /* background-color: red; */
    font-size: 0.7rem;
    font-family: 'Noto Sans KR', sans-serif;
}
.menu_container .sub_title p{
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.7rem;
}
.menu_container .sub_title p strong{
    font-weight: bolder;
    font-size: 0.8rem;
}
.boxRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 0 auto;
} 
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    cursor: pointer;
    margin:5px;
    width: 8rem;
    height:8rem;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    text-align: center;
    background-color: #AF8BB7;
    font-weight: 500;
    /* font-size: 1rem; */
}
.box:nth-child(2){
    background-color: #80caf1;
}
.box img{
    width: 3rem;
    height: 3rem;
}

.box p{
    font-size: 1.2rem;
    font-family: 'GyeonggiTitle-M';
    padding : 0.5rem;
    padding-top: 0;
    color:#ffffff;
    border-bottom: 1px solid #fefefe;
    /* margin : 0 auto; */
}


.biz_childcare_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 80vw;
    /* background-color: #AF8BB7; */
    margin-bottom: 20vh;
}

.biz_childcare_container .title{
    width: 8rem;
    height: 4rem;
    line-height: 4rem;
    background-color: #AF8BB7;
    text-align: center;
    color: #ffffff;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    /* font-family: 'Noto Sans KR', sans-serif; */
}
.biz_childcare_container .title p{
    margin: 0 auto;
    /* font-family: 'Noto Sans KR', sans-serif; */
}

.biz_childcare_container .info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    /* font-family: 'S-CoreDream-5Medium'; */
}

.biz_childcare_container .image_info{
    width: 100%;
    height: 100%;
}

.biz_childcare_container .image_info img{
    width: 100%;
    height: 100%;
}

.biz_childcare_container .image_info2{
    width: 100%;
    height: 100%;

}
.biz_childcare_container .image_info2 img{
    width: 100%;
    height: 100%;
}


.biz_childcare_container .info p{
    font-family: 'S-CoreDream-6Bold';
    font-size: 1.2rem;
    color: #AF8BB7;
}

.biz_childcare_container .info span{
    font-size: 0.9rem;
}

.biz_adultcare_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 80vw;
    /* background-color: #80caf1; */
}

.biz_adultcare_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 80vw;
    /* background-color: #AF8BB7; */
}

.biz_adultcare_container .title{
    width: 8rem;
    height: 4rem;
    line-height: 4rem;
    background-color: #80caf1;
    text-align: center;
    color: #ffffff;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    /* font-family: 'Noto Sans KR', sans-serif; */
}
.biz_adultcare_container .title p{
    margin: 0 auto;
    /* font-family: 'Noto Sans KR', sans-serif; */
}

.biz_adultcare_container .info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    /* font-family: 'S-CoreDream-5Medium'; */
}

.biz_adultcare_container .image_info{
    width: 100%;
    height: 100%;
    /* background :url('../image/child_care_info.png') no-repeat 0 0;
    background-size: 100% 100%; */
}

.biz_adultcare_container .image_info img{
    width: 100%;
    height: 100%;
}

.biz_adultcare_container .image_info2{
    width: 100%;
    height: 100%;
    /* background :url('../image/child_care_info2.png') no-repeat 0 0;
    background-size: 100% 100%; */
}
.biz_adultcare_container .image_info2 img{
    width: 100%;
    height: 100%;
}


.biz_adultcare_container .info p{
    font-family: 'S-CoreDream-6Bold';
    font-size: 1.2rem;
    color: #80caf1;
}

.biz_adultcare_container .info span{
    font-size: 0.9rem;
}


/* ----------footer-------- */
/* 
@media screen and (min-width : 510px) {
    .box{
        cursor: pointer;
        margin:5px;
        width: 35vmin;
        height:35vmin;
        line-height: 35vmin;
        border: 1px solid #000000;
        border-radius: 5px;
        text-align: center;
        font-family: SDSamliphopangche_Basic;
        font-weight: 500;
        font-size: 2.5vmax;
    }
}

@media screen and (min-width : 600px) {
    .box{
        cursor: pointer;
        margin:5px;
        width: 30vmin;
        height:30vmin;
        line-height: 30vmin;
        border: 1px solid #000000;
        border-radius: 5px;
        text-align: center;
        font-family: SDSamliphopangche_Basic;
        font-weight: 500;
        font-size: 2.5vmax;
    }
}

@media screen and (min-width : 700px) {
    .box{
        cursor: pointer;
        margin:5px;
        width: 25vmin;
        height:25vmin;
        line-height: 25vmin;
        border: 1px solid #000000;
        border-radius: 5px;
        text-align: center;
        font-family: SDSamliphopangche_Basic;
        font-weight: 500;
        font-size: 2.5vmax;
    }
}

@media screen and (min-width : 1024px) {
    main{
        display: none;
    }
} */