/* 
    memo 
    1) app-user-order 연관 css스타일 : 
    app-user-order-exec-complete
    child-... 등 에 대한 스타일을 이 css파일에서 공유함.


    2) 선택버튼 css 맨 아래에 분리함.

    
*/
/* scrollbar option */
h1,h2,h3,h4{
    font-family: 'GyeonggiTitle-M';
}
body{
    -ms-overflow-style: none; 
}
::-webkit-scrollbar { display: none; }
/* ---------------- */

p, input, textarea{
    /* font-family:'Noto Sans KR'; */
}

html{
    height: initial;
    /* background-color: red; */
}
body{
    display: flex;
    margin:0;
    padding: 0;
    /* height: 100%; */
    justify-content: center;
    align-items: center;
}
main{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    margin-bottom: 8.5vh;
}
.title_area{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 8rem;
    background :url('../image/mcc_mainbackground_3.png') no-repeat 0 0;
    background-size: 100% 100%;
    /* background-color: red; */
    color:#ffffff;
    box-sizing: border-box;
}
.title_area h1,h3{
    margin-left: 1rem;
    font-family: 'GyeonggiTitle-M';
    font-weight: 500;
}    
.title_area h3{
    margin-top: 1.5rem;
    font-size: 0.8rem;
}
.title_area h1{
    font-size: 2.4rem;
}  


/* --header Start----- */
header{
    display: block;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 8vh;
    position: fixed;
    z-index: 99;
    background-color:#ffffff;
}

.returnButton_cont{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
    height: 8vh;
    background-color: #ffffff;
    /* background-color: red; */
    border: none;
}
.returnButton_icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
header p{
    margin-left: 4vw;
    display: inline-block;
    font-size: 1rem;
    color: #000;
}
/* --header End----- */
.title{
    margin: 0.5rem;
    margin-top: 2rem;
    /* line-height: 10vh; */
}
.title h1{
    margin: 0 auto;
    text-align: center;
    font-family: 'GyeonggiTitle-L';
}

#boxContainer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60vh;
    /* background-color: blue; */
    /* overflow:hidden; */
}

.box{
    margin: 0.5rem;
    width: 16rem;
    height: 7rem;
    line-height: 7rem;
    /* border: 2px solid #bcbcbc; */
    border: 1px solid #000000;
    /* background-color: #f1f1f1; */
    box-sizing: border-box;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
.box .order_btn{
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    font-family:'Noto Sans KR', sans-serif;
    color: #ffc000;
}
.box p{
    margin: 1rem auto;
}
#boxContainer .box .sub_title{
    font-size: 2rem;
    margin: 0 auto;
    /* font-family: 'GyeonggiTitle-M'; */
    font-family: 'GyeonggiTitle-L';
}
.box .info_box{
    margin: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column nowrap;
    /* background-color: red; */
}
    
.box .info_text{
    text-align: left;
    margin: 0;
    margin-top: -0.3rem;
    /* margin-left: 1rem; */
    /* margin-bottom: -0.2rem; */
    font-size: 0.2rem;
    font-weight: 600;
    font-family:'Noto Sans KR', sans-serif;
    letter-spacing: -0.5px;
}
.box .info_text:nth-child(1){
    /* color: red; */
}

.ask{
    cursor: pointer;
}

.indent{
    padding-left: 1rem;
    /* background-color: red; */
}

/* CSS : app-user-order-child Start */
#boxContainer_child{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    /* margin-top: 15px; */
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    /* background-color: salmon; */
    /* overflow-y:scroll; */
}
#boxContainer_child > p{
    font-size: 12px;
}
#boxContainer_child .textBox{
    margin: 5vh 10vw;
    margin-top: 9vh;
    width:80vw;
    height: 45vh;
    padding : 2vw;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 22px;
    font-weight: 500;
    font-size: 0.9rem;
    overflow-y: scroll;
    text-align: start;
}


/* CSS : app-user-order-child End */
/* CSS : app-user-order-child-list-nouse Start */

.boxContainer_order-child-list-nouse{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    margin-bottom: 15vh;
    /* background-color: red; */
}
.boxContainer_order-child-list-nouse .subtitle{
    margin-top: 3vh;
    width: 100%;
    height: 8vh;
    /* background-color: red; */
}

.boxContainer_order-child-list-nouse .company_list{
    width: 87vw;
    height: 48vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.boxContainer_order-child-list-nouse .company_list .listRow{
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 10vh;
    line-height: 10vh;
    background: #F7F8F8;
    border: 1px solid #F7F8F8;
    box-sizing: border-box;
    border-radius: 14px;
}

.listRow label{
    width: 20%;
    font-size: 12px;
    color: #ADA4A5;
    text-align: center;
}
.listRow input{
    width: 80%;
    height: 100%;
    padding-left: 10px;
    color: #ADA4A5;
    border: none;
}

/* CSS : app-user-order-child-list-nouse End */


/* CSS : app-user-order-child-to Start */
.boxContainer_order-child-to{
    width: 100%;
    height: 100%;
    margin-top: 3vh;
    margin-bottom: 8vh;
    /* background-color: red; */
}
.boxContainer_order-child-to h1{
    margin-top: 3vh;
}
.boxContainer_order-child-to .textBox_child_to{
    cursor: pointer;
    margin: 0 auto;
    width:80vw;
    height: 46vh;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 22px;
    font-weight: 500;
    font-size: 0.8rem;
    overflow-y: scroll;
}
.boxContainer_order-child-to .textBox_child_to > p{

}
/* CSS : app-user-order-child-to End */

/* CSS : app-user-order-child-order Start */
.boxContainer_order-child-order{
    margin-top: 3vh;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.boxContainer_order-child-order .company_list{
    text-align: left;
}

.boxContainer_order-child-order p{
    margin: 5px;
    font-size: 1.1em;
}
.boxContainer_order-child-order input{
    width: 80vw;
    height: 4vh;
    padding-left: 0.5vw;
    /* background-color: coral; */
    background-color: #f4f5f5;
    border-radius: 6px;
    border:none;
    font-size: 1.1em;
    outline: none;
}


/* CSS : app-user-order-child-order End */




/* CSS : app-user-order-child-order-complete Start */
.boxContainer_order_child_order_complete{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    margin-top: 7vh;
    /* background-color: rgb(212, 212, 236); */
    /* overflow-y:scroll; */
}
.boxContainer_order_child_order_complete .textBox_child_order_complete{
    width: 80vw;
    height: 100%;
    border: none;

}

.boxContainer_order_child_order_complete p{
    margin: 5px;
    font-size: 1em;
}
.boxContainer_order_child_order_complete input{
    width: 80vw;
    height: 4vh;
    padding-left: 1.5vw;
    /* background-color: coral; */
    background-color: #f4f5f5;
    border-radius: 14px;
    border:none;
    outline: none;
    font-family:'Noto Sans KR';
}
.boxContainer_order_child_order_complete textarea{
    width: 100%;
    border-radius: 14px;
    padding-left: 1.5vw;
    background-color: #f4f5f5;
    /* text-align: center; */
    border:none;
    font-family:'Noto Sans KR';
}

.boxContainer_order_child_order_complete .selectBox .btn2{
    background-color: #f8f9fa;
    color: #000;
    border: 1px solid rgb(206, 212, 218)
}

/* CSS : app-user-order-child-order-complete End */


/* CSS : app-user-order-exec-complete  Start */
.boxContainer_order_exec_complete{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    margin-top: 15px;
    /* background-color: rgb(212, 212, 236); */
    /* overflow-y:scroll; */
}
.boxContainer_order_exec_complete p{
    margin: 5px;
    font-size: 12px;
}
.boxContainer_order_exec_complete input{
    height: 33px;
    padding-left: 10px;
    /* background-color: coral; */
    background-color: #f4f5f5;
    border-radius: 14px;
    border:none;
}

/*  CSS : progress Bar Stlye End  */

/* CSS : selectBox Style Start */
.selectBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:2vh auto;
    width: 80vw;
    height:10vh;
    /* background-color: red; */
}

.selectBox .selectButton{
    cursor: pointer;
    margin: 0 auto;
    width: 80vw;
    height: 8vh;
    border:none;
    /* background-color: #0d6efd; */
    background-color: #f4900a;
    color: #ffffff;
    /* background-color: red; */
    border-radius: 99px;
}

.selectBox .btnDiv2{
    width: 35vw;
}

.selectBox .selectButton > p{
    margin: 0 auto;
    font-size: 20px !important;
}

/* CSS : selectBox Style End */
