/* 
    memo 
    .box 박스내 높이는 line-height로 조정

*/
html{
    height: initial;
    /* background-color: red; */
}
body{
    display: flex;
    margin:0;
    padding: 0;
    /* height: 100%; */
    justify-content: center;
    align-items: center;
}
main{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    margin-bottom: 8.5vh;
}
.title_area{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 8rem;
    background :url('../image/mcc_mainbackground_3.png') no-repeat 0 0;
    background-size: 100% 100%;
    /* background-color: red; */
    color:#ffffff;
    box-sizing: border-box;
}
.title_area h1,h3{
    margin-left: 1rem;
    font-family: 'GyeonggiTitle-M';
    font-weight: 500;
}    
.title_area h3{
    margin-top: 1.5rem;
    font-size: 0.8rem;
}
.title_area h1{
    font-size: 2.4rem;
}
.title{
    margin: 0.5rem;
    margin-top: 2rem;
    /* line-height: 10vh; */
}
.title h1{
    margin: 0 auto;
    text-align: center;
    font-family: 'GyeonggiTitle-L';
}
.menu_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 8.5vh;
}
.box{
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 5rem;
    /* background-color: red; */
}
.box:first-child{
    margin-top: 2rem;
}

.box .m_menu_icon{
    display: flex;
    width: 5rem;
    justify-content: center;
    align-items: center;
    /* background-color: #ffc000; */
    /* background-color: #ffc000; */
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}
.box .sub_title{
    width: 100%;
    padding-left: 1rem;
}
.box .sub_title p{
    font-family:'Noto Sans KR', sans-serif;
    font-weight: 600;
}
.box .btn_area{
    width: 2rem;
    margin-right: 1rem;
    color: #ababab;
}

.box svg{
    color: #000000;
    /* color: #ffc000; */
    width: 25px;
    height: 25px;
}
.box svg path{
    /* fill: #000000; */
}
