ul,ol,li{
  list-style-type: none;
}

body {
  font-size: .875rem;
  background:url(/img/bg.png) no-repeat;
  background-position: center;
}

.container{

}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/* --Navbar*/
.navbar{
  width: 100%;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-light {
  color: #ffffff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-light:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


/*--  Sidebar*/
.sidebar {
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: #ffffff8e;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; 
  /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}
.sidebar .nav-link .logout_icon {
  color: #FFC017
}

.sidebar .nav-link.active {
  color: #FFC017;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/* --main Start  */
main{ 
  background-color: #e7e7e7;
  
}
.section_credit_card, .section_chart, .section_pie_chart, .section_sale,.section_sale2, .section_calendar{
  padding : 10px;
}
.section_credit_card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background-color: #ffffff;
}
.section_credit_card .card_image{
  width: 180px;
  height: 100px;
  background-color: rgb(107, 237, 247);
}
.section_credit_card ul{
  margin-top: 5px;
  padding: 0;
  font-size: 0.8rem;
}

.section_chart{
  background-color: rgb(193, 193, 253);

}

.section_pie_chart{
  background-color: #ffffff;
}

.section_sale{
  background-color: rgb(247, 181, 137);
  color: rgb(189, 9, 9);
}
.section_sale2{
  background-color: rgb(255, 102, 0);
  color: rgb(189, 9, 9);
}

.section_calendar{
  background-color: rgb(255, 167, 251);
  color: rgb(255, 255, 255);
}

.subtitle{
  width: 100%;
  text-align: start;
  background-color: #ffffff;
}
