/* 
CSS 공유 페이지 : 
list-detail, job, job-complete
*/
/* scrollbar option */

.boxContainer{
    -ms-overflow-style: none; 
}
::-webkit-scrollbar { display: none; }
/* ---------------- */
main{
    margin-top: 8vh;
    margin-bottom: 8.5vh;
}

.mainContainer{
    width: 90vw;
    height: 78vh;
    /* background-color: chartreuse; */
    position: relative;
}

.title{
    display: block;
    width: 100%;
    height: 7vh;
    /* background-color: red; */
}
.title h1{
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
    /* background-color: red; */
}
.listContainer_list_detail{
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 50vh;
    padding : 1vw;
    /* background-color: green; */
    overflow-y:scroll;
}
.listContainer_list_detail p{
    margin: 0.5vh;
    font-size: 0.8rem;
}
.listContainer_list_detail input{
    height: 6vw;
    margin-top: 0.4vh;
    padding-left: 5vw;
    /* background-color: coral; */
    background-color: #f4f5f5;
    border-radius: 14px;
    border:none;
    font-size: 0.7rem;
}

/* --selectBox Start---- */

.selectBox{
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
    /* background-color: red; */
}

.selectBox .btn_change{
    cursor: pointer;
    margin : 1vw auto;
    width: 35vw;
    height: 5.5vh;
    /* background-color: #c4c4c4; */
    border: none;
}

.selectBox .btn_startjob{
    cursor: pointer;
    margin : 1vw auto;
    width: 35vw;
    height: 5.5vh;
    /* background-color: #c4c4c4; */
    border: none;
}

.selectBox .btn_upload{
    cursor: pointer;
    margin : 1vw auto;
    width: 35vw;
    height: 5.5vh;
    /* background-color: #c4c4c4; */
    border: none;
}

.selectBox .btn_endjob{
    cursor: pointer;
    margin : 1vw auto;
    width: 35vw;
    height: 5.5vh;
    /* background-color: #c4c4c4; */
    border: none;
}

.one{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}
.selectBox .comfirm{
    width: 90vw;
    font-family: 'SDSamliphopangche_Basic';
}

/* --selectBox End---- */
 


/* --app-manager-job Start*/

.listContainer_job{
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 45vh;
    padding : 1vw;
    /* background-color: green; */
    overflow-y:scroll;
}
.listContainer_job p{
    margin: 0.5vh;
    font-size: 0.8rem;
}
.listContainer_job > input{
    height: 6vw;
    margin-top: 0.4vh;
    padding-left: 5vw;
    /* background-color: coral; */
    background-color: #f4f5f5;
    border-radius: 14px;
    border:none;
    font-size: 0.7rem;
}
.imageContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
    width: 90vw;
    height: 12vh;
    margin-top: 2vh;
    /* background-color: red; */
}

.imageContainer .imageBox > img{
    width: 25vw;
    height: 11vh;
}

.image_input{
    margin-top: 2vh;
}

/* --app-manager-job End*/
/* --app-manager-job-complete Start*/

.listContainer_job_complete{
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 45vh;
    padding : 1vw;
    /* background-color: green; */
    overflow-y:scroll;
}
.listContainer_job_complete p{
    margin: 0.5vh;
    font-size: 0.8rem;
}
.listContainer_job_complete > input{
    height: 6vw;
    margin-top: 0.4vh;
    padding-left: 5vw;
    /* background-color: coral; */
    background-color: #f4f5f5;
    border-radius: 14px;
    border:none;
    font-size: 0.7rem;
}


/* --app-manager-job-complete End*/

/* @media screen and (min-width:800px){
    body{
        max-width: 800px;
    }
} */
