#iframe{
    margin-top: 5vh;
    width: 45vw;
}
table{
    width: 70vw;
    background-color: cornsilk;
    border-spacing: 0;
}
table tr th{
    border-bottom: 2px solid black;
    padding: 5px;
}

table tr td{
    border-bottom: 1px solid black;
    padding: 5px;
}

